html, body{width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    align-items:center;}
* {box-sizing: border-box;}
.chooseMain{width:650px;
    height:500px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
    margin:10px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    border-radius: 25px;}
.chooseLeft, .chooseRight{width:350px;
    height:90%;
    background:white;
    margin:0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;}
.chooseLeft{transform: translateX(5%);}
.chooseRight{transform: translateX(-5%);}
.image-divs{width:80%;
    min-height:80%;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;}
img{width:100%;
    min-height:100%;
    border-radius:10%;
    object-fit:cover;}
button{width:70px;
    font-size:20px;
    margin:40px 20px;
    font-style:italic;
    border-radius:5px;
    border:none;
    background-image: linear-gradient(pink, red);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);}
button:active{box-shadow: none;
	  transform: translateY(3px);}
button:focus{outline: 0;}
.orDiv{width:60px;
    height:60px;
    border-radius:50%;
    background:red;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    background-image: linear-gradient(pink, red);}
