html, body{width:100%;
    height:100%;
    background: var(--bodyBg);
    margin: 0;}
*{transition: background 0.5s;}
body{display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;}
:root{--height:3px;
    --bodyBg:black;
    --buttonBg:white;
    --buttonText: black;
    --clockPartsBg:white;
    --commasTextsColor: white;
    --allTextsColor:white;}
.clock{width:300px;
    height:300px;
    border-radius:50%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;}
.inClock{width:250px;
    height:250px;
    border-radius:50%;
    position:relative;}
.hour{width:50%;
    height:calc(var(--height) + 2px);
    left:0;
    box-shadow:5px 5px 6px 1px;}
.minute{width:50%;
    height:var(--height);
    left:0;
    box-shadow:5px 5px 6px 1px;}
.hour, .minute, .center, .nums{background:var(--clockPartsBg)}
.second{width:50%;
    height:var(--height);
    background:red;
    left:0;
    box-shadow:5px 5px 6px 1px;}
.center{position:absolute;
    width:calc(var(--height) + 10px);
    height:calc(var(--height) + 10px);
    top:calc(50% - var(--height)/2 - 3px);
    left:calc(50% - var(--height)/2 - 6px);
    border-radius:50%;
    border: 2px solid red;}
.hour, .minute, .second{position:absolute;
    top:calc(50% - var(--height)/2 + 3px);
    transform: rotate(90deg);
    transform-origin:100%;}
.nums{width:10px;
    height:7px;
    position:absolute;
    left:5px;
    top: 50%;
    transform-origin:1430%;
    border-radius:50%;}
.innerNums{width:5px;
    height: 2px;
    left:6px;
    top: 50%;
    transform-origin:2830%;
    border-radius:50%;}
.digitalDiv{width: 200px;
    height: 80px;
    display: flex;
    color:var(--commasTextsColor);
    font-size:50px;
    align-items: center;
    margin: 20px;}
.hourDigital, .minDigital{width:50%;
    height: 100%;
    background-color:rgb(49, 47, 47);
    margin: 8px;
    font-size:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 20%;
    box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 1);}
.date{width: fit-content;
    height: fit-content;
    display: flex;
    letter-spacing: 3px;
    font-weight: 600;
    color:var(--allTextsColor)}
.date > *{margin:5px;
    text-transform: uppercase;}
#date{background:gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 28px;
    height: 28px;
    box-shadow:5px 5px 15px 1px rgba(0, 0, 0, 1);}
.themeChanger{padding:10px;
    color: var(--buttonText);
    background: var(--buttonBg);
    margin-top:-55px;
    margin-bottom: 50px;
    border: none;
    border-radius:10px;
    box-shadow:10px 10px 25px 1px rgba(0, 0, 0, 1);}
